
@{
    ViewBag.Title = "thongke";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thống kê doanh thu</h2>
@using (Html.BeginForm("", ""))
{
    <div class="form-group">
        <label>Từ ngày</label>
        <input type="date" id="ngaybb" class="form-control" />
    </div>
    
}


