@model List<G_Shop.Controllers.HoaDonDTO>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutNotSlide.cshtml";
}

<h2>Danh sách đơn hàng</h2>

<table class="table">
    <tr>
        <th>Mã hóa đơn</th>
        <th>Ngày mua</th>
        <th>Tổng tiền</th>
        <th>Khách hàng</th>
        <th></th>
    </tr>
    @foreach (var o in Model)
    {
        <tr>
            <td>@o.MaHoaDon</td>
            <td>@Html.FormatValue(o.NgayMua, "{0:MM/dd/yyyy}")</td>
            <td>@Html.FormatValue(o.TongTien, "{0:c}")</td>
            <td>@o.NguoiDung.TenDangNhap</td>
            <td>
                <a href="/Order/Detail/@o.MaHoaDon">Detail</a>
            </td>
        </tr>
    }
</table>

