@model PagedList.IPagedList<G_Shop.Models.CaThe>
@using PagedList.Mvc
@{
    ViewBag.Title = "ThuCung";
    Layout = "~/Views/Shared/_LayoutNotSlide.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        @*<h3>Danh sách @ViewBag.TenLoai</h3>*@
    </div>
</div>
<hr />
<div class="row">
    @for (var i=0;i<Model.Count;i++)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                @*<img src="~/assets/client/images/@(item.HinhAnh.Substring(0, item.HinhAnh.IndexOf("|")))" style="width:320px;height:150px;" alt="">*@
                <div class="caption">
                    <h4 class="pull-right">@Model[i].Gia</h4>
                    <h4>@Model[i].TenCaThe</h4>
                    <a href="/Home/ThuCung?MaLoai=@Model[i].MaLoai" class="pull-right">Xem chi tiết</a>
                </div>
                @*<div class="ratings">
                        <p class="pull-right">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>*@
            </div>
        </div>
    }
    @Html.PagedListPager(Model, page => Url.Action("ThuCung", new { page = page, @MaLoai = ViewBag.maloai }))
</div>

