$color1: #999;
$color2: #fff;
$color3: #333;
$color4: #5cb85c;
$color5: #3d8b3d;
$color6: #d9534f;
$color7: #b52b27;
$color8: #f0ad4e;
$color9: #df8a13;
$color10: #d17581;


$background-color1: #222;
$background-color2: #fff;
$background-color3: #000;
$background-color4: #5cb85c;
$background-color5: #d9534f;
$background-color6: #f0ad4e;

$border-color1: #d9534f;
$border-color2: #f0ad4e;
$border-color3: #5cb85c;