@model PagedList.IPagedList<VT_Shop.Models.Tree>
@using PagedList.Mvc
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Session["user"] == null)
{
    @*<p style="position:fixed;bottom:10px;right:10px;background-color:yellow;border:1px solid black;z-index: 98; padding: 4px">Bạn chưa đăng nhập, vui lòng đăng nhập để xem giỏ hàng và thanh toán</p>*@
}

<div class="col-lg-12" ng-controller="indexController">
    <div class="col-lg-3">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="pull-right">Bộ lọc</h3>
            </div>
        </div>
        <div class="list-group" ng-repeat="g in giongs">
            <span class="list-group-item list-group-item-success" ng-click="setFilter({LoaiId: {GiongId: {GiongId:g.GiongId}}})">{{g.TenGiong}} </span>
            <span class="list-group-item" style="margin-left:10px" ng-click="setFilter({LoaiId: {LoaiId: l.LoaiId}})" ng-repeat="l in g.loais">{{l.TenLoai}}</span>
        </div>
    </div>
    <div class="col-lg-9">

        <div class="row">
            <div class="col-lg-12">
                <h3>Danh sách cây mới nhất</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="c in data | filter: filter">
                <div class="thumbnail">
                    <img src="~/assets/client/images/{{c.image}}" style="width:320px;height:150px;" alt="" style="z-index:999">
                    <div class="caption">

                        <h5 class="pull-right" ng-bind="c.GiaBan"></h5>
                        <h5>{{c.TenTree}}</h5>
                        <a href="{{c.url}}" class="pull-right">Xem chi tiết</a>
                        <button class="add-to-cart btn-lg gioHang" ng-hide="c.TinhTrang != 'Sẵn bán'" ng-click="addToCart(c.TreeId, $event)" data-toggle="tooltip" title="Thêm vào giỏ hàng">
                            <span class="glyphicon glyphicon-shopping-cart">

                            </span>
                        </button>
                        <p class="text-danger">{{c.TinhTrang != "Sẵn bán" ? "(Đã bán)" : ""}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>