@model List<VT_Shop.Models.Loai>

<div class="list-group">
    @foreach (var item in Model)
    {
	    <a href="@Url.Action("Tree","Home", new { LoaiId = item.LoaiId})" class="list-group-item">@item.TenLoai</a>
    }
</div>